.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width: .4px .2px .4px .4px;
}

.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color:#000;
    -fx-border-width: .4px .2px .4px .4px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.close:hover{
    -fx-background-color:#e40505;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.minimize:hover{
    -fx-background-color:#ddd;
}

.nav-form{
    -fx-background-color:#000000CC;
}

.nav-btn{
    -fx-background-color:#efefef;
    -fx-cursor:hand;
    -fx-background-radius:4px;
}

.logout{
    -fx-background-color:#efefef;
    -fx-background-radius:4px;
    -fx-cursor:hand;
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:4px;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.card{
    -fx-background-color:black;
    -fx-background-radius:4px;
}
.table-view{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius: 4px;
    padding: 0px;
}
.table-view .table-column{
    -fx-alignment: center;
    -fx-alignment: center;
}
.table-view .column-header-background{
    -fx-background-color: #e00000BF;
    -fx-background-radius: 4px 4px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-size: "Arial";
}
.textfield{
    -fx-background-color: #e0000040;
    -fx-border-color: #FFA1A120;
    -fx-border-radius: 4px;
}
.textfield:focused{
    -fx-border-width: 1.5px;
    -fx-background-color: #e0000020;
    -fx-border-color: #FFA1A1;
}
.search{
    -fx-background-color:transparent;
    -fx-border-color: black;
    -fx-padding:0px 0px 0px 28px;
    -fx-font-size: 14px;
    -fx-border-radius: 4px;
}
.search:focused{
    -fx-border-width:1.5px;
}
.import-btn{
    -fx-background-color: #eee;
    -fx-text-fill:red;
}
.agregar-btn{
    -fx-background-color: #e0000020;
    -fx-border-radius: 4px;
    -fx-text-fill:#000;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-border-color: #00000020;
}
.agregar-btn:hover{
    -fx-background-color: #e0000040;
}